
.loadingPage {
  width: 100vw;
  height: 100vh;
    background-color: white;
  &-mask {
    //  opacity: 0.3;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: auto;
    top: -5vh;
  }
  &-text {
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    position: fixed;
    text-align: center;
    bottom: 25%;
    font-size: 10px;
    color: #174275;
    margin: 0 auto;
    @media screen and (min-device-width: 1024px) {
      bottom: 30%;
      font-size: 20px;
    }
    &-content {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
    &-dev {
      transform: translateX(-10%);
    }
  }
  &-percentage {
    z-index: 20;
    position: fixed;
    font-size: 50px;
    color: darkorange;
    bottom: 10%;
    left: 40%;
    @media screen and (min-device-width: 1024px) {
      bottom: 10%;
      left: 40%;
    }
  }
  &-loading-video {
    opacity: 0;
    position: absolute;
    // left: 15%;
    bottom: -70%;
    left:35%;
    @media screen and (min-device-width: 1024px) {
      left: 30%;
      bottom: -50vh;
    }
    z-index: 8;
    & > video {
      width: 40vw;
      @media screen and (min-device-width: 1024px) {
      }
    }
  }
}
#Market3D-tag {
  position: fixed;
  // background-color: #35909c;
}

#Navigate {
  position: absolute;
  // background-color: chartreuse;
  // opacity: 0.3;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
#colorSlide {
  background-color: white;
}
@media screen and (orientation: portrait) {
  .loadingPage {
    &-loading-video {
      top: 20vh;
    }
    &-mask {
      top: 20vh;
      height: 100vh;
      width: auto;
      transform: translateX(-25%);
    }
  }
}